
html, body, h1, div {
  padding: 0;
  border: 0;
  margin: 0;
  font: inherit;
  font-size: 100%;
}

h1 {
  font-size: 20px;
  font-family: Tahoma, "Times New Roman", sans-serif;
  font-weight: bold;
  padding: 5px 0 5px 0;
  color:  #383838;
  width: 700px;
  text-decoration: inherit;
}

.title {
  background-color: #FFFFFF;
  padding: 15px 0 15px 0;
  margin: 10px 0;
}

.menu {
  background-color: #E0E0E0;
  padding: 16px 0 16px 0;
  margin: 10px 0;
}

a {
  display: inline;
  text-align: inherit;
  text-decoration: none;
  color: #888888;
}

.menu a:hover {
  color: #33CC66;
}

.menu a:active {
  color: #900000;
}

.menu a:visited {
  color: #780000;
}

.content {
}

#One, #Two, #Three {
  height: 210px;
  width: 190px;
  list-style-type: none;
  margin: 50px 60px 15px 140px;
  text-align: center;
  background-color: #FFCCCC;
  border: 1px solid black;
  border-radius: 80px;
  display: inline-block;
}
