html, body, h1, div, .footer, .header, .moi,
.section, .content .lista {
  padding: 0;
  border: 0;
  margin: 0;
  font: inherit;
  font-size: 100%;
  line-height: normal;
  font-family: Georgia, sans-serif;
  font-style: normal;
}

html {
  background-color: inherit;
}

.content {
  /*margin: auto 0 auto 0;*/
  white-space: nowrap;
  overflow: visible;
}

.elements li, .elements2 li  {
    line-height: normal;
    list-style-type: none;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    vertical-align: top;
    margin: auto 0.2em 1em 0.1em;
}

.elements2 {
  margin-top: 3em;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.header {
  float: none;
  text-decoration: none;
  padding: 1em 0;
  text-align: center;
  font-weight:bolder;
  font-size: 1.3em;
}

.footer {
  display:inherit;
  font-weight: bold;
}

.mail {
  text-align: center;
}

.section {
  float: none;
  margin: 1em auto 8em 1em;
}

.menu a {
  font-weight: bold;
}

.moi {
  font-size: 1.3em;
  font-weight: bold;
  color:  #383838;
  text-decoration: none;
  text-shadow: 0 0 14px #505050;
  text-align: center;
}

.background {
  background-color: #F8F8F8;
}

.title {
  border-bottom-style: groove;
  border-bottom-width: 0.3em;
  border-bottom-color: #505050;
  background-color: #FFFFFF;
  text-align: center;
}

.menu {
  background-color: rgb(183, 187, 199);
  padding: 0.8em 0 0.8em 0;
  text-align: center;
  margin: 0.1em auto auto auto;
}

a {
  display: inline;
  text-align: inherit;
  text-decoration: none;
  color: #FFFFFF;
}

.section a, .footer a, .header a  {
   color: inherit;
}

.section a:hover {
  color: #33CC66;
}
.footer a:hover {
  color: hsl(30, 100%, 50%);
}

.menu a:hover {
  color: #330066;
}

.header a:hover {
  color: #CC0033;
}
.menu a:active, .section a:active, .footer a:active {
  color: #900000;
}

.menu a:visited, .section a:visited, .footer a:visited {
  color: #780000;
}
